#appMenu {width:90%;min-width:700px;top:0;margin:0 auto;height:2em;border-radius:0 0 5px 5px;background:#bbf}
#appSpace {position:relative;max-height:900px;overflow:auto}
#app1 {position:absolute;top:50px;left:9%;width:80%;min-width:700px;font-size:0.8em;border:1px outset #bbb;border-radius:5px;padding:8px}