.LivePlayer {position:absolute;left:0;right:0;top:0;bottom:0}

.LivePlayer .MenuBar {position:absolute;left:0;right:0;top:0;height:1em;cursor:pointer}
.LivePlayer .PlayPort {position:absolute;left:0;right:0;top:1em;bottom:0;cursor:none;overflow:hidden}