.LivePlayer {position:absolute;left:0;right:0;top:0;bottom:0}

.LivePlayer .MenuBar {position:absolute;left:0;right:0;top:0;height:1em;cursor:pointer}
.LivePlayer .PlayPort {position:absolute;left:0;right:0;top:1em;bottom:0;text-align:center;cursor:none;overflow:hidden}

.SinglePanTilZoom {height:90%;opacity:0;-webkit-transition:opacity 1.5s ease-in, -webkit-transform 5s ease-in, height 5s ease-in}
.FadeIn {opacity:1}
.RotateC10 {-webkit-transform:rotate(10deg)}
.RotateA10 {-webkit-transform:rotate(-10deg)}
.ZoomIn {height:100%}