.AppWrapper {position:fixed;left:0;right:0;top:0;bottom:0;background:url(img/bg.png) repeat;font-size:small}

.PageMenu {position:absolute;left:0;right:0;top:0;height:2em;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(50%,rgba(224,224,224,1)), color-stop(100%,rgba(192,192,192,1)));box-shadow:0 1px 5px rgb(128,128,128);z-index:2}
.TaskViews {position:absolute;left:0;right:0;top:2.1em;bottom:0}

.PageMenu > * {display:inline-block;line-height:2em;margin:0 1em}
.PageMenu .BtnNewAcc {position:absolute;right:8em;top:50%;padding:0 1em;line-height:1.5em;margin:-0.9em 0}
.PageMenu .BtnEditAcc {position:absolute;right:2em;top:50%;padding:0 1em;line-height:1.5em;margin:-0.9em 0}

.TaskViews > .TransactionView {position:absolute;left:0;top:0;bottom:0;width:25%;background-color:#fff;border-bottom-right-radius:1em;box-shadow:1px 0 5px rgb(128,128,128);z-index:1}
.TaskViews > .SummaryView {position:absolute;left:25%;right:0;top:0;bottom:0}

.TransactionView > .Menu {position:absolute;left:0;right:0;top:0;height:2em;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1)));box-shadow:0 1px 5px rgb(64,64,64);z-index:1}
.TransactionView > .TransactionList {position:absolute;left:0;right:0;top:2em;bottom:2em;overflow:auto}
.TransactionView > .FootMenu {position:absolute;left:0;right:0;bottom:0;height:2em;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));border-bottom-right-radius:1em;box-shadow:0 0 5px rgb(192,192,192)}

.TransactionView > .Menu > * {display:inline-block;line-height:2em;color:#fff}
.TransactionView > .Menu > .PickMonth {position:absolute;left:0.5em;width:50%}
.TransactionView > .Menu > .PickFilter {position:absolute;right:0.5em;width:50%}

.TransactionView > .TransactionList > * {}

.TransactionView > .FootMenu > .BtnAddTranx {position:absolute;top:50%;right:0.5em;line-height:1.5em;margin:-1em 0}

.SummaryView > .Navigator {position:absolute;left:0;right:0;top:0;height:3em;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0)));}
.SummaryView > .Summaries {position:absolute;left:0.5em;right:0.5em;top:3.3em;bottom:0.5em;background-color:rgba(255,255,255,.7);border-top:3px double rgb(128,128,128);border-bottom:3px double rgb(128,128,128)}

.SummaryView > .Navigator > a {display:inline-block;height:1.8em;line-height:1.8em;margin:0.8em 0 0 1em;padding:0 0.5em;border:1px solid #eee;border-right-color:#aaa;border-bottom-color:#aaa;border-radius:0.2em;background:rgb(245,245,245);box-shadow:1px 1px 1px #bbb}